* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.header {
  display: flex;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
}

.header.desktop {
  display: flex;
  align-items: center;
}
.header.mobile {
  display: none;
}

@media(max-width: 961px) {
  .header.desktop {
    display: none;
  }
  .header.mobile {
    display: flex;
    align-items: center;
    position: relative;
  } 
}

.header .header-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .header-brand > .material-icons {
  font-size: 3rem;
  max-height: 100%;
}

.header-root-list {
  display: flex;
  margin-right: auto;
}

.header .header-option {
  position: relative;
  /* display: flex; */
}

.header .header-option:hover {
  cursor: pointer;
}

.header-root-list .header-option .header-optionLink {
  display: flex;
  padding: 0.75rem 1.25rem;
}

.header-root-list .header-option .header-optionLink > .headerOption-icon {
  margin-left: auto;
}

.header-root-list .header-option .header-submenu-list {
  position: absolute;
  z-index: 2;
  left: 0%;
  top: 100%;
  width: 12.5rem;
}

.header-root-list
.header-option.header-option-active
> .header-optionLink
{
  background-color: #fa0;
}

.header-root-list
.header-submenu-list {
  display: none;
}

.header-root-list
> .header-option.header-option-active
> .header-submenu-list {
  display: block;
}

.header-root-list
.header-option
.header-submenu-list
> .header-option 
> .header-submenu-list {
  display: none;
  left: 100%;
  top: 0;
}

.header-root-list
.header-option
.header-submenu-list
> .header-option.header-option-active
> .header-submenu-list {
  display: block;
}


/* mobile css style */
.header.mobile .menu-button {
  display: flex;
  text-decoration: none;
}

.header.mobile .menu-button > .open-button {
  display: inline-block;
}

.header.mobile .menu-button > .close-button {
  display: none;
}

.header.mobile.mobile-active > .menu-button >.open-button {
  display: none;
}

.header.mobile.mobile-active > .menu-button > .close-button {
  display: inline-block;
}

.header.mobile .header-root-list {
  display: none;
}

.header.mobile.mobile-active .header-root-list {
  display: block;
  position: absolute;
  top: 100%;
}

@media(max-width: 961px) {
  .header-root-list {
    width: 100%;
  }

  .header-root-list .header-option .header-submenu-list {
    position: static;
    width: 100%;
  }

  .header-root-list .header-option .header-submenu-list li a {
    padding-left: 2.25rem;
  }

  .header-root-list .header-option .header-submenu-list li ul li a {
    padding-left: 3.75rem;
  }

  .header-root-list .header-option .header-submenu-list li ul li ul li a {
    padding-left: 5.25rem;
  }
}